html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

form {

background: rgb(127, 204, 124);
padding-top: 50px;
padding-right: 50px;
padding-bottom: 50px;
padding-left: 50px;
border-radius: 25px;
}


h1, label {
    font-family: Arial, Helvetica, sans-serif;
}

#email {
     position: relative;
     left: 73px;
}

#email-input {
    position:relative;
    left: 108px;
}


.buttonHolder { 
    text-align: center; 
}

#sub-button {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
     border-radius: 25px;
}

